[submodule "SPX-Script"]
	path = Options Re-Entry/SPX-Script
	url = https://github.com/XumoVoidHD/SPX-Script
[submodule "ESTX50-Script"]
	path = Options Re-Entry/ESTX50-Script
	url = https://github.com/XumoVoidHD/ESTX50-Script
[submodule "NDX-Script"]
	path = Options Re-Entry/NDX-Script
	url = https://github.com/XumoVoidHD/NDX-Script
[submodule "Option Reversal"]
	path = Option Reversal
	url = https://github.com/XumoVoidHD/IBKR-Option-Reversal-Bot
[submodule "NIKKIE225"]
	path = NIKKIE225
	url = https://github.com/XumoVoidHD/NIKKIE225.git
[submodule "Options Re-Entry/NIKKEI225"]
	path = Options Re-Entry/NIKKEI225
	url = https://github.com/XumoVoidHD/NIKKEI225.git
