[submodule "Option Reversal"]
	path = Option Reversal
	url = https://github.com/XumoVoidHD/IBKR-Option-Reversal-Bot
[submodule "Options Re-Entry/NIKKEI225"]
	path = Options Re-Entry/NIKKEI225
	url = https://github.com/XumoVoidHD/NIKKEI225.git
